{% extends "base.html" %}
{% block content %}
<main class="book-catalog">
    <script src="js/update_form.js"></script>
    <script src="js/feedback.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <div class="book-header">
  <div class="book-info">
    <div class="book-cover anim-border">
        <img src="{{book.cover}}" alt="{{book.title}}">
      <span></span>
      <span></span>
    </div>
    <div class="book-details">
        <h2 class="book-title">{{book.title}}</h2>
      <p class="book-author">{{book.author}}</p>
            {%if score != None%}
            <div class="rating-wrapper">
              <div class="rating">
                  <span onclick="set_score({{book.id}}, 5)" id="rating-5" class="rating-star">{% if score < 5 %}<i class="bi bi-star"></i>{% else %}<i class="bi bi-star-fill"></i>{%endif%}</span>
                  <span onclick="set_score({{book.id}}, 4)" id="rating-4" class="rating-star">{% if score < 4 %}<i class="bi bi-star"></i>{% else %}<i class="bi bi-star-fill"></i>{%endif%}</span>
                  <span onclick="set_score({{book.id}}, 3)" id="rating-3" class="rating-star">{% if score < 3 %}<i class="bi bi-star"></i>{% else %}<i class="bi bi-star-fill"></i>{%endif%}</span>
                  <span onclick="set_score({{book.id}}, 2)" id="rating-2" class="rating-star">{% if score < 2 %}<i class="bi bi-star"></i>{% else %}<i class="bi bi-star-fill"></i>{%endif%}</span>
                  <span onclick="set_score({{book.id}}, 1)" id="rating-1" class="rating-star">{% if score < 1 %}<i class="bi bi-star"></i>{% else %}<i class="bi bi-star-fill"></i>{%endif%}</span>
              </div>
              <div class="rating-score" id="ratingScore">{{score}}/5</div>
            </div>
            {%endif%}



      <p class="book-description">
        {{book.description}}
      </p>
          <br>
          {%if status != None%}
          <div class="status-save-wrapper">
              <div class="selector">
                <div id="status-completed" onclick="set_status({{book.id}}, completed)" class="select-btn {%if status == 'completed'%}active{%endif%}">Already read</div>
                <div id="status-reading"   onclick="set_status({{book.id}}, reading)"   class="select-btn {%if status == 'reading'%}active{%endif%}">  In progress </div>
                <div id="status-planned"   onclick="set_status({{book.id}}, planned)"   class="select-btn {%if status == 'planned'%}active{%endif%}">  Planned     </div>
                <div id="status-untracked" onclick="set_status({{book.id}}, untracked)" class="select-btn {%if status == 'untracked'%}active{%endif%}">Untracked   </div>
              </div>
          </div>
          {%endif%}
    </div>


  </div>
</div>
    <button id="toggleButton" class="mobile-only"></button>
    <div id="hiddenContent" class="desktop-content">
      <div class="side-nav-prog">
          <div class="progress-bars">
              <h3 class="progress-title">On user lists:</h3>
              <div class="progress-item">
                  <span class="progress-label">Planned</span>
                  <div class="progress-bar">
                      <div class="progress-fill" style="width: {{book_stats.statuses.0}}%;"></div>
                  </div>
              </div>
              <div class="progress-item">
                  <span class="progress-label">Already read</span>
                  <div class="progress-bar">
                      <div class="progress-fill" style="width: {{book_stats.statuses.1}}%;"></div>
                  </div>
              </div>
              <div class="progress-item">
                  <span class="progress-label">In progress</span>
                  <div class="progress-bar">
                      <div class="progress-fill" style="width: {{book_stats.statuses.2}}%;"></div>
                  </div>
              </div>
              Average score: {{book_stats.scores.5}}
              <div class="progress-item small">
                  <span class="progress-label">5☆</span>
                  <div class="progress-bar">
                      <div class="progress-fill" style="width: {{book_stats.scores.4}}%;"></div>
                  </div>
              </div>
              <div class="progress-item small">
                  <span class="progress-label">4☆</span>
                  <div class="progress-bar">
                      <div class="progress-fill" style="width: {{book_stats.scores.3}}%;"></div>
                  </div>
              </div>
              <div class="progress-item small">
                  <span class="progress-label">3☆</span>
                  <div class="progress-bar">
                      <div class="progress-fill" style="width: {{book_stats.scores.2}}%;"></div>
                  </div>
              </div>
              <div class="progress-item small">
                  <span class="progress-label">2☆</span>
                  <div class="progress-bar">
                      <div class="progress-fill" style="width: {{book_stats.scores.1}}%;"></div>
                  </div>
              </div>
              <div class="progress-item small">
                  <span class="progress-label">1☆</span>
                  <div class="progress-bar">
                      <div class="progress-fill" style="width: {{book_stats.scores.0}}%;"></div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="comments-section">
        <h3>Comments</h3>
        {% if comments_allowed %}
        <form method="post" class="comment-form">
          <textarea name="comment" placeholder="Leave a comment..." rows="4" required></textarea>
          <button type="submit">Post Comment</button>
        </form>
        {% endif %}

        <div class="comment-list">
        {% for comment in comments.0 %}
          <div class="comment">
              <p class="comment-author"><strong>{{comment.0}}</strong></p>
              <p class="comment-text">{{comment.1}}</p>
          </div>
        {% endfor %}

        <div class="pagination-wrapper">
            {% if current_page != 0 %}
                <a class="pagination-link" href="?page={{current_page - 1}}&id={{book.id}}"><</a>
            {% endif %}
            {% for page in range(comments.1) %}
                <a class="pagination-link" href="?page={{page}}&id={{book.id}}" {% if page == current_page %}style="color: white;"{% endif %}>{{page + 1}}</a>
            {% endfor %}
            {% if current_page + 1 != comments.1 %}
                <a class="pagination-link" href="?page={{current_page + 1}}&id={{book.id}}">></a>
            {% endif %}
        </div>
    </div>


  </div>
</main>
{% endblock %}
