{% extends "base.html" %}

{% block search %}
<form action="/search" method="post" class="search-box" style="display: flex; gap: 8px;">
    <input type="search" name="search_string" placeholder="Search..." class="search-input" required>
    <button type="submit" class="search-button">Search</button>
</form>
{% endblock %}

{% block content %}
<main class="book-catalog">

    <h2 id="section-title" class="section-title">Top</h2>
    <div class="book-grid" id="bookGrid">
        {% for book in books %}
        <div class="book-card" onclick="window.location=`/book?id={{book.id}}`">
                <img src="{{book.cover}}" alt="{{book.title}}">
                <h3 class="book-title">{{book.title}}</h3>
                <p class="book-author">{{book.author}}</p>
            </div>
        {% endfor %}
    </div>
    <button id="toggleButton" class="mobile-only"></button>
    <div id="hiddenContent" class="desktop-content">
    <div class="side-nav">
        <div class="catalog-sidebar">
            <h3 class="filter-title">Filter by:</h3>
            <div class="filter-options">
              <div class="filter-options">
              <div class="radio-option">
                <input type="radio" id="filter-top" name="filter" value="top" checked>
                <label for="filter-top">Top</label>
              </div>
              <div class="radio-option">
                <input type="radio" id="filter-week" name="filter" value="weekly">
                <label for="filter-week">Popular per week</label>
              </div>
              <div class="radio-option">
                <input type="radio" id="filter-recommend" name="filter" value="recommend">
                <label for="filter-recommend">Recommendations</label>
              </div>
            </div>

            </div>
          </div>
        </div>
    </div>
</main>
{% endblock %}
