{% extends "base.html" %}
{% block content %}
<body>
    <img class="image-gradient" src="/img/gradient.png" alt="gradient">


    <div class="layer-blur"></div>
    <div class="container">
        <main>
            <div class="content">
                <div class="tag-box">
                    <div class="tag"><a href="/catalog" style="text-decoration: none; color: inherit;">Start Exploring</a></div>
                </div>

                <h1>Discover books you'll love — powered by your reading history.</h1>

            </div>
        </main>



        <spline-viewer  class="bookshelve" url="https://prod.spline.design/6sSB4NA7WSJtxw3F/scene.splinecode"></spline-viewer>

    </div>
    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.10.7/build/spline-viewer.js"></script>

</body>
{% endblock %}
