{% extends "base.html" %}
{% block content %}
<body>
    <img class="image-gradient" src="/img/gradient.png" alt="gradient">


    <div class="layer-blur"></div>
    <div class="container">
        <main>
            <div class="content">
                <div class="tag-box">
                    <a href="/catalog" class="tag">Start Exploring</a>
                </div>

                <h1>Discover books you'll love — powered by your reading history.</h1>

            </div>
        </main>



        <spline-viewer  class="bookshelve" url="https://prod.spline.design/6sSB4NA7WSJtxw3F/scene.splinecode"></spline-viewer>

    </div>
    <footer style="padding-left: 6.5rem">
        <blockquote style="border-left: 3px solid #ccc; padding-left: 15px; margin-left: 0;">
            <p style="font-style: italic;">Made weak by time and fate, but strong in will.</br>To strive, to seek, to find, and not to yield.</p>
            <footer style="font-weight: bold;">— Alfred, Lord Tennyson</footer>
        </blockquote>
    </footer>
    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.10.7/build/spline-viewer.js"></script>

</body>
{% endblock %}
