{% extends "base.html" %} {% block content %}
<main class="book-catalog">
	<h2 class="section-title">User lists</h2>

	<button id="toggleButton" class="mobile-only"><</button>
	<div id="hiddenContent" class="desktop-content">
		<div class="side-nav-rating">
			<div class="progress-bars">
				<h3 class="progress-title">Given rating</h3>
				<div class="progress-item">
					<span class="progress-label">5</span>
					<div class="progress-bar">
						<div class="progress-fill" style="width: 90%"></div>
					</div>
				</div>
				<div class="progress-item">
					<span class="progress-label">4</span>
					<div class="progress-bar">
						<div class="progress-fill" style="width: 75%"></div>
					</div>
				</div>
				<div class="progress-item">
					<span class="progress-label">3</span>
					<div class="progress-bar">
						<div class="progress-fill" style="width: 60%"></div>
					</div>
				</div>
				<div class="progress-item">
					<span class="progress-label">2</span>
					<div class="progress-bar">
						<div class="progress-fill" style="width: 60%"></div>
					</div>
				</div>
				<div class="progress-item">
					<span class="progress-label">1</span>
					<div class="progress-bar">
						<div class="progress-fill" style="width: 60%"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}
